.items {
    color: white;
    background-color: #232323;
    width: 642px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #5a5a5a;
}

.get {
    margin-left: 260px;
    margin-bottom: 10px;
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.get:hover {
    background-color: #aeafaf;
}

.get:active {
    background-color: #898989;
}

.item {
    width: 600px;
    height: 105px;
    border-bottom: 1px solid #5a5a5a;
    margin: 0 auto 10px;
    display: flex;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.name {
    font-size: 18px;
    margin: 10px 0 0 15px;
    font-weight: 600;
}

.btn_wrapper {
    height: 3px;
}

.btn_wrapper button {
    border: none;
    margin: 0 15px 0 330px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.btn_wrapper button:hover {
    cursor: pointer;
}

.unfollowed {
    background-color: white;
    color: black;
}

.unfollowed:hover {
    background-color: #c6c6c6;
    color: #242424;
}

.followed {
    background-color: #383838;
    color: white;
}

.followed:hover {
    background-color: #4c4c4c;
}

.location {
    color: #adadad;
    margin-left: 15px;
}

.show_more {
    height: 50px;
}

.link {
    margin-left: 270px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.selected_page {
    font-weight: bold;
}

.selected_page:hover {
    cursor: pointer;
}

.page:hover {
    cursor: pointer;
}

