.amount_wrapper_low, .amount_wrapper_high {
    width: 260px;
    padding: 10px 0 10px 10px;
    height: 120px;
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    color: white;
    background-color: #232323;
}

.amount_wrapper_high {
    height: 215px;
}

.amount_string {
    font-size: 14px;
}

.amount {
    color: #adadad;
}

.upper {
    margin-bottom: 10px;
}

.followed_users_low {
    display: flex;
}

.followed_users_high {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
}

.followed_user {
    margin-bottom: 10px;
    margin-right: 22px;
}

.followed_user img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.followed_user a {
    color: white;
    text-decoration: none;
}

.followed_user a:hover {
    text-decoration: underline;
}

.followed_name {
    text-align: center;
}

.followed_string {
    font-weight: 600;
    margin-left: 10px;
}

.lower {
    display: flex;
}