.form {
    width: 674px;
}

.text {
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
    width: 652px;
    border: 1px solid #5a5a5a;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 17px 10px 17px 15px;
    background-color: #232323;
    font-size: 18px;
    font-weight: 600;
}

.posts:first-child {
    border-radius: 0 0 5px 5px;
}

.newPost {
    display: flex;
    border: 1px solid #5a5a5a;
    width: 657px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    background-color: #232323;
}

.newPost button {
    color: black;
    margin-left: 30px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    background-color: white;
}

.newPost button:hover {
    cursor: pointer;
    background-color: #c6c6c6;
    color: #242424;
}

.newPost input {
    background-color: #232323;
    width: 520px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
}

.posts_block {
    margin-left: 20px;
}

.posts {

}