.header {
    grid-area: h;
    background-color: #232323;
    border-bottom: 1px solid #282828;
    display: flex;
}

.header img {
    margin-left: 365px;
    width: 50px;
}

.login {
    /*float: right;*/
    color: white;
    margin: 12px 0 0 970px;
    /*margin: 12px 375px 0 0;*/
}

.login a {
    text-decoration: none;
    color: white;
}

.wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.string {

}