.post_wrapper, .first_post {
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    background-color: #232323;
    margin-bottom: 20px;
    padding: 15px;
    width: 647px;
    font-size: 14px;
    color: white;
}

.first_post {
    border-radius: 0 0 10px 10px;
}

.upper {
    display: flex;
}

.writer_info {
    padding-left: 10px;
}

.writer_info div:first-child a {
    text-decoration: none;
    color: white;
}

.writer_info div:first-child a:hover {
    text-decoration: underline;
}

.writer_info div:last-child {
    color: #adadad;
}

.upper img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
