.acc_info {
    color: white;
}

p {
    margin: 0;
}

h1 {
    color: white;
}

.remember_me {
    color: white;
}

.acc_info p:last-child {
    margin-bottom: 10px;
}

.copy {

}