.dialogs {
    color: white;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #0bbfdc;
}

.messages {
    padding: 10px;
}

.dialog {

}


